html, body, h1, h2, h3, h4, h5, h6, p, div, ol, ul, li {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
}

body {
  background-color: black;
}
body #letsHaveFun {
  background-color: red;
  height: 100vh;
  width: 100vw;
  background-image: url(../images/tile2.png);
  background-size: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #letsHaveFun button {
  width: 150px;
  height: 75px;
  border: red solid 3px;
  background-color: black;
  color: red;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
}
body #letsHaveFun button:hover {
  border: red dotted 3px;
  background: black;
  color: red;
}
body #letsHaveFun button:hover:active {
  border: black;
  background: red;
  color: black;
}
body .carousel-inner .carousel-item {
  height: 100vh;
  width: 100vw;
}
body .carousel-inner .carousel-item .content {
  height: 100vh;
  background-position-y: top;
  background-position-x: left;
  background-size: contain;
  background-repeat: repeat-x;
  position: relative;
}
body .carousel-inner .carousel-item .content #above {
  height: 20vh;
}
body .carousel-inner .carousel-item .content #modal {
  margin: 0 auto;
  background-color: #F40001;
  border-radius: 10px;
  background-image: url(../images/tile.png);
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  border: black solid 3px;
}
body .carousel-inner .carousel-item .content #modal h4 {
  font-size: 1.3em;
  margin: 0 auto;
  width: 250px;
  height: 80px;
  padding: 23px 0;
  border: red solid 3px;
  background: black;
  color: red;
  text-align: center;
  border-radius: 10px;
}
body .carousel-inner .carousel-item .content #modal button {
  cursor: pointer;
  width: 120px;
  margin: 20px auto;
  border: black solid 3px;
  background: red;
  color: black;
  border-radius: 10px;
  outline: none;
}
body .carousel-inner .carousel-item .content #modal button:hover {
  border: red solid 3px;
  background: black;
  color: red;
}
body .carousel-inner .carousel-item .content #modal button:hover:active {
  border: black solid 3px;
  background: red;
  color: black;
}
body .carousel-inner .carousel-item .carousel-caption {
  border-radius: 100vh;
}
body .carousel-inner #first .content {
  background-color: #20AC00;
  background-image: url("../images/1.png");
}
body .carousel-inner #first .carousel-caption {
  box-shadow: 0px 0px 100px 20px #34FF00;
  border-radius: 100vh;
  background-color: #20AC00;
}
body .carousel-inner #first .carousel-caption h5, body .carousel-inner #first .carousel-caption p {
  color: #34FF00;
}
body .carousel-inner #second .content {
  background-color: #2652A5;
  background-image: url("../images/2.png");
}
body .carousel-inner #second .carousel-caption {
  box-shadow: 0px 0px 100px 20px #3F80FF;
  border-radius: 100vh;
  background-color: #2652A5;
}
body .carousel-inner #second .carousel-caption h5, body .carousel-inner #second .carousel-caption p {
  color: #3F80FF;
}
body .carousel-inner #third .content {
  background-color: #227F7F;
  background-image: url("../images/3.png");
}
body .carousel-inner #third .carousel-caption {
  box-shadow: 0px 0px 100px 20px #3DCCCC;
  border-radius: 100vh;
  background-color: #227F7F;
}
body .carousel-inner #third .carousel-caption h5, body .carousel-inner #third .carousel-caption p {
  color: #3DCCCC;
}
body .carousel-inner #fourth .content {
  background-color: #314C4C;
  background-image: url("../images/4.png");
}
body .carousel-inner #fourth .carousel-caption {
  box-shadow: 0px 0px 100px 20px #669999;
  border-radius: 100vh;
  background-color: #314C4C;
}
body .carousel-inner #fourth .carousel-caption h5, body .carousel-inner #fourth .carousel-caption p {
  color: #669999;
}
body .carousel-inner #fifth .content {
  background-color: #665118;
  background-image: url("../images/5.png");
}
body .carousel-inner #fifth .carousel-caption {
  box-shadow: 0px 0px 100px 20px #B8952E;
  border-radius: 100vh;
  background-color: #665118;
}
body .carousel-inner #fifth .carousel-caption h5, body .carousel-inner #fifth .carousel-caption p {
  color: #B8952E;
}
body .carousel-inner #sixth .content {
  background-color: #472E2E;
  background-image: url("../images/6.png");
}
body .carousel-inner #sixth .carousel-caption {
  box-shadow: 0px 0px 100px 20px #A05027;
  border-radius: 100vh;
  background-color: #472E2E;
}
body .carousel-inner #sixth .carousel-caption h5, body .carousel-inner #sixth .carousel-caption p {
  color: #A05027;
}
body .carousel-inner #seventh .content {
  background-color: #340B0A;
  background-image: url("../images/7.png");
}
body .carousel-inner #seventh .carousel-caption {
  box-shadow: 0px 0px 100px 20px #852121;
  border-radius: 100vh;
  background-color: #340B0A;
}
body .carousel-inner #seventh .carousel-caption h5, body .carousel-inner #seventh .carousel-caption p {
  color: #852121;
}
body .carousel-inner #eighth .content {
  background-color: #450041;
  background-image: url("../images/8.png");
}
body .carousel-inner #eighth .carousel-caption {
  box-shadow: 0px 0px 100px 20px #852185;
  border-radius: 100vh;
  background-color: #450041;
}
body .carousel-inner #eighth .carousel-caption h5, body .carousel-inner #eighth .carousel-caption p {
  color: #852185;
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition-duration: 0.6s;
  transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
}

/*# sourceMappingURL=style.css.map */
